@import "vendor/jquery.fullpage.min";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600,800|Roboto:300,400,500&subset=cyrillic');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "vendor/glitch";
*{
  margin: 0;
  padding: 0;
  user-select: none;
}

*{
  letter-spacing: .2px;
}

body{
  overflow: hidden !important;
  .fa{
    color: white;
  }
  .btn{
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px 8px;
    color: white;
    font-size: 18px;
    line-height: 16px;
    text-decoration: none;
    border: 1px solid white;
  }
  .noise{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      background: url("../images/noise.png");
      opacity: 0;
      width: 100%;
      height: 100%;
      animation: noisy .3s steps(20);
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
    }

  }
  .site_fullscreen_menu{
    position: fixed;
    top: -100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
    padding: 70px 180px;
    box-sizing: border-box;
    align-content: center;
    font-family: 'Fira Sans', sans-serif;
    background-color: #1d1d1d;
    z-index: 900;
    -webkit-transition: .7s cubic-bezier(0.17, 1, 0.72, 0.98);
    -moz-transition: .7s cubic-bezier(0.17, 1, 0.72, 0.98);
    -ms-transition: .7s cubic-bezier(0.17, 1, 0.72, 0.98);
    -o-transition: .7s cubic-bezier(0.17, 1, 0.72, 0.98);
    transition: .7s cubic-bezier(0.17, 1, 0.72, 0.98);

    .menu_nav{
      background-color: #1d1d1d;
      grid-column: span 1;
      list-style: none;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-70px);
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-transition-delay: .4s;
      -moz-transition-delay: .4s;
      -ms-transition-delay: .4s;
      -o-transition-delay: .4s;
      transition-delay: .4s;
      li{
        display: block;
        a{
          font-size: 56px;
          font-weight: 800;
          line-height:2;
          letter-spacing: 3px;
          color: white;
          text-decoration: none;
          -webkit-transition: .2s;
          -moz-transition: .2s;
          -ms-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          &:hover{
            color: #f4b523;
          }
        }
      }
    }
    .callback_form{
      background-color: #1d1d1d;
      grid-column: 2/span 1;
      display: grid;
      align-content: center;
      color: white;
      h2{
        font-size: 50px;
        font-weight: bold;
        line-height: 1.45;
      }
      p{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
      }
      form{
        display: block;
        div{
          display: block;
          input{
            outline: none;
            width: 100%;
            padding: 20px 0px 10px;
            margin-bottom: 20px;
            background-color: #1d1d1d ;
            border:none;
            border-bottom: 1px solid white;
            font-size: 18px;
            color: white;
          }
          .navbar_form_btn{
            display: inline-block;
            padding: 10px 40px;
            margin: 5px 0;
            border: 1px solid #ffffff;
            cursor: pointer;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #1d1d1d;
            background-color: white;
            transition: .3s;
          }
          .navbar_form_attach{
            position: relative;
            float: right;
            margin-top:35px;
            font-size: 18px;
            color: white;
            text-decoration: none;
            font-weight: 600;
            i{
              transition: .5s;
            }
            input{
              position: absolute;
              top: 0;
              right: 0;
              opacity: 0;
              cursor: pointer;

            }
            &:hover{
              & i img{
                transform: rotate(180deg);
              }
            }
          }
          p{
            margin-top: 60px;
            font-size: 16px;
            letter-spacing: .4px;
              a{
                color: #f4b523;
                text-decoration: underline;
              }
          }
        }
      }
    }
    .site_fullscreen_menu__visible{
      transform: translateX(0);
      visibility: visible;
      opacity: 1 !important;
    }
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      padding: 70px 100px;
    }
  }
  .menu_visible{
    top:0;
  }
  .navbar{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 15px;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    background: black;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 35;

    .navbar_logo{
      grid-column: span 1;
      display: inline-block;
      cursor: pointer;
      img{
        vertical-align: middle;
      }
    }
    .navbar_button{
      grid-column: span 1;
      display: inline-block;
      margin-left: 20px;
      overflow: hidden;
      height: 40px;
      a{
        position: relative;
        padding: 6px 0 8px;
        overflow: hidden;
        top: 11px;
        border: 1px solid white;
        span{
          position: relative;
          padding: 6px 25px 8px;
          overflow: hidden;
          &:before{
            content: attr(data-hover );
            position: absolute;
            padding: 10px 29px 12px;
            top:100%;
            left: 0;
            background: #fff;
            color: black;
            transition: .2s;
          }
        }
        &:hover>span:before{
          top:0;
        }
      }
    }


    .navbar_contacts{
      display: block;
      grid-column: 8/span 1;
      justify-self: end;
      margin-right: -110px;
      z-index:3;
      cursor: default;
      &:hover .navbar_contacts-list{
       visibility: visible;
        opacity: 1;
        top:0;
      }
      .contacts_dropdown{
        position: absolute;
        right: 130px;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Fira Sans', sans-serif;
        font-size: 22px;
        color: white;
        text-decoration: none;
        cursor: pointer;

        &:after{
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-left: 12px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 6px 0 6px;
          border-color: #ffffff transparent transparent transparent;
        }
      }
      .navbar_contacts-list{
        visibility: hidden;
        opacity: 0;
        position: fixed;
        right: 0;
        top:-60px;
        width: 260px;
        height: 260px;
        padding: 80px 45px 20px 25px;
        z-index:-1;
        background-color: #000;
        transition: .2s;
        span{
          margin: 10px 25px 0 30px;
          padding-bottom: 5px;
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          color: white;
          font-size:22px;
          border-bottom:1px solid #616161;
          &:last-child{
            border-bottom: none;
          }
          p{
            margin: 5px 0;
            display: block;
            font-size: 24px;
            color: #ffc234;
          }
        }
      }
    }
  }
  .navbar_hamburger-button{
    position: fixed;
    right: 50px;
    top: 25px;
    margin: auto;
    z-index: 4;
    grid-column: 9/ span 1;
    justify-self:end;
    cursor: pointer;
    padding-left: .8em;
    width: 30px;
    height: 30px;
    z-index: 998;
    .menu-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 4px solid white;
      width: 100%;
      transition: 0.27s;
    }
    .menu-top {
      top: 0;
    }
    .menu-middle {
      top: 12px;
    }
    .menu-bottom {
      top: 24px;
    }
    .menu-top-click {
      backface-visibility: hidden;
      top: 15px;
      border-color: #f4b523;
      transform: rotate(45deg);
      -webkit-transition: .27s;
      -moz-transition: .27s;
      -ms-transition: .27s;
      -o-transition: .27s;
      transition: .27s; ;
    }
    .menu-middle-click {
      opacity: 0;
    }
    .menu-bottom-click {
      backface-visibility: hidden;
      top: 15px;
      border-color: #f4b523;
      transform: rotate(-405deg);
      -webkit-transition: .27s;
      -moz-transition: .27s;
      -ms-transition: .27s;
      -o-transition: .27s;
      transition: .27s; ;
    }

  }
  .video_close-button{

    position: fixed;
    right: 50px;
    top: -50px;
    margin: auto;
    z-index: 4;
    grid-column: 9/ span 1;
    justify-self:end;
    cursor: pointer;
    padding-left: .8em;
    width: 30px;
    height: 30px;
    z-index: 999;
    transition: .4s;
    transition-delay: .2s;
    .menu-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 4px solid white;
      width: 100%;
      transition: .3s;
    }
    .menu-top {
      top: 0;
    }
    .menu-bottom {
      top: 24px;
    }
    .menu-top-click {
      backface-visibility: hidden;
      top: 15px;
      border-color: #f4b523;
      transform: rotate(45deg);
      -webkit-transition: .27s;
      -moz-transition: .27s;
      -ms-transition: .27s;
      -o-transition: .27s;
      transition: .27s; ;
    }
    .menu-bottom-click {
      backface-visibility: hidden;
      top: 15px;
      border-color: #f4b523;
      transform: rotate(-405deg);
      -webkit-transition: .27s;
      -moz-transition: .27s;
      -ms-transition: .27s;
      -o-transition: .27s;
      transition: .27s; ;
    }
  }
}
#page-1,#page-2,#page-3,#page-4,#page-6,#page-8,#page-9,#page-10{
  background-color: #1d1d1d;
  padding: 0 50px;
}
#page-5,#page-7{
  background-color: #f4b523;
  padding: 0 50px;
}
.section{
  font-family: "Fira Sans";
  .page1_grid{
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    .description{
      h1{
        margin-bottom: 45px;
        padding-top: 40px;
        color: white;
        font-size: 86px;
        line-height: 1.05;
        font-weight: 800;
        letter-spacing: 4px;

      }
      span{
        font-size: 44px;
        font-weight: 600;
        color: white;
        line-height: 1.35;
        letter-spacing: 1.4px;

        @mixin gitchText1($offset, $text) {
          content: $text;
          position: absolute;
          left: $offset;
          clip: rect(0, 900px, 0, 0);
          background-color: #f4b523;
          color: black;
          animation: glitch1 4.5s infinite alternate-reverse;
          animation-delay: .5s;
        }
        @mixin gitchText2($offset, $text) {
          content: $text;
          position: absolute;
          left: $offset;
          clip: rect(0, 900px, 0, 0);
          background-color: #f4b523;
          color: black;
          animation: glitch2 6s infinite alternate-reverse;
          animation-delay: 1.5s;
        }
        .glitch_text_1 {
          color: black;
          overflow: hidden;
          margin: 0 10px;
          padding:0 10px;
          background-color: #f4b523;
          position: relative;
          &:before {
            @include gitchText1(3px, 'e-commerce,');
            width: auto;
            height: 80%;
          }
        }

        .glitch_text_2 {
          color: black;
          margin: 0 10px;
          padding:0 10px;
          background-color: #f4b523;
          position: relative;
          &:before {
            @include gitchText2(-1px, 'интерактивный дизайн.');
            width: auto;
          }
        }

        @keyframes glitch1 {
          $steps: 15;
          @for $i from 0 through $steps {
            #{percentage($i * (1 / $steps))} {
              clip: rect(random(100)+px, 9999px, random(100)+px, 0);
            }
          }
        }
        @keyframes glitch2 {
          $steps: 16;
          @for $i from 0 through $steps {
            #{percentage($i * (1 / $steps))} {
              clip: rect(random(100)+px, 9999px, random(100)+px, 0);
            }
          }
        }
      }
    }
    .fox-pic{
      position: relative;
      video{
        position: absolute;
        top:-20px;
	  }
      .fox_vid_glitched{
        top:-45px;
        left: -25px;
      }
    }
  }
  .footnote{
    position: absolute;
    bottom: 45px;
    color:#fff;
    font-size: 28px;
		letter-spacing: 1.3px;
    font-weight: 600;
    a{
      text-decoration: underline;
      color:#f4b523;
    }
  }
  .video_container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 10;
    overflow: hidden;
    video{
      position: absolute;
      top:0;
      width: 100%;
      z-index: 799;
    }

    .video_overlay{
      position: absolute;
      top:0;
      width: 100%;
      height: 100vh;
      background-color: rgba(29, 29, 29, .5);
      z-index: 800;
      .play_button{
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%) scale(.5) ;

        transition: .2s;
        cursor: pointer;
        &:hover{
          transform: translate(-50%, -50%) scale(.6);
          opacity: 1;
        }
      }
    }
    .pause_video{
      position: absolute;
      bottom: 20vh;
      left: 5vw;
      display: none;
      cursor: pointer;
      z-index: 999;
    }
  }
  #player{
    width: 100%;
    height: calc(100vh);
    position: fixed;
    left: 0;
    top:  120vh;
    transition: .3s ease-out;
    transform: scale(1.14);
    z-index: 998;
  }
  .services{
    position: absolute;
    top:0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    .services_item{
      grid-column: span 1;
      position: relative;
      padding: 160px 35px 80px;
      background-size: cover;
      border-right: 1px solid white;
      transition: .3s;
      &:last-child{
        border-right: none;
      }
      &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0, 0.3);
        z-index: 28;
      }
      &:hover>.item_inner_text .line{
        width: 20%;
        visibility: visible;
      }
      &:hover>.item_inner_text .expanded_text{
        opacity: 1;
        padding-top: 20px;
      }
      .item_inner_text{
        position: relative;
        z-index: 29;
        height: 100%;
        h1{
          color: white;
          margin-bottom: 30px;
        }
        p{
          display: inline-block;
          font-family: "Roboto";
          font-size: 20px;
          overflow-wrap: normal;
          color: white;
        }
        .line{
          width: 0;
          visibility: hidden;
          border: 1px solid #fff;
          transition: .4s;
        }
        .expanded_text{
          padding-top: 60px;
          opacity: 0;
          transition: all .4s;
        }
        .services_btn{
          position: absolute;
          bottom: 0;
          left:0;
          padding: 20px 45px;
        }
      }
      .item_video_bg{
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 0;
        min-width: 100%;
        transform: translateY(-50%);
        transition: .5s;
        video{
          width: 100vw;
        }
      }
    }
    .hovered{
      opacity: .4;
      z-index: 5 !important;
      background: none !important;
      .item_inner_text .glitch-btn{
        opacity: 0;
      }
    }
  }
  .portfolio{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    .portfolio_heading{
      grid-column: span 2;
      padding: 20px 100px 20px 50px;
      h1{
        margin-bottom: 5px;
        font-size: 56px;
        font-weight: 800;
        letter-spacing: 1.4px;
        color: #ffc234;
      }
      p{
        font-family: "Roboto";
        font-size: 25px;
        font-weight: 400;
        color: white;
        letter-spacing: .5px;
        margin-bottom: 10px;
      }
      .portfolio_btn{
        padding: 18px 50px;
        color: #1d1d1d;
        background: #fff;
      }
    }
    .portfolio_item{
      position: relative;
      grid-column: span 1;
      background-position: center center;
      background-size: contain;
      overflow: hidden;
      &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        transform: translate(-50%,-50%);
        background-color: rgba(244, 181, 35, 0.9);
        transition: .3s ease-out;
      }
      &:hover:before{
        width: 160px;
        height: 160px;
        transform:translate(-50%,-50%) scale(6) ;
      }


      .portfolio_item_name{
        position: absolute;
        top: 20%;
        left: 0;
        opacity: 0;
        width: 100%;
        padding: 18px 20px;
        color: #fff;
        box-sizing: border-box;
        font-size: 30px;
        text-align: left;
        transition: .3s;
        will-change: opacity, bottom;

      }
      &:hover>.portfolio_item_name{
        opacity: 1;
        top: 10%;

        transition: opacity .1s 0s, bottom .4s;
      }
    }

  }
  .achievments{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr;
    .achievments_heading{
      grid-column: span 2;
      padding: 20px 60px 20px 50px;
      box-sizing: border-box;
      width: 50%;
      h1{
        margin-bottom: 5px;
        font-size: 56px;
        font-weight: 800;
        letter-spacing: 1.4px;
        color: #1d1d1d;
      }
      p{
        font-family: "Roboto";
        font-size: 25px;
        font-weight: 400;
        letter-spacing: .2px;
        color: #1d1d1d;
        margin-bottom: 45px;
      }
      input{
        display: none;
        &:checked+label{
          color: #f4b523;
          background: #1d1d1d;
        }
      }
      .achievments_btn{
        padding: 14px 32px;
        margin-right: 20px;
        font-size: 20px;
        color: #1d1d1d;
        border: 1px solid #1d1d1d;
        cursor: pointer;
        transition: .2s;
        &:hover{
          color: #f4b523;
          background: #1d1d1d;
        }
      }
    }
    .achievments_list_local{
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      .achievments_item{
        grid-column: span 1;
        position: relative;
        display: grid;
        grid-template-rows: .8fr .6fr;
        justify-items: center;
        align-items: center;
        padding: 40px 50px 10px;
        box-sizing: border-box;
        img{
          height: 110px !important;
        }
        .item_description{
          grid-row: 2;
          font-family: Roboto;
          line-height: 1.3;
          font-size: 22px;
          font-weight: 500;
          text-align: center;
        }

        &:nth-child(1), &:nth-child(3), &:nth-child(6), &:nth-child(8){
          background-color: #f1b01a;
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7){
          background-color: #f4b92f;
        }
        &:hover .noise:after{
          opacity: .22;
        }
      }
    }
    .achievments_list_country{
      display: none;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      .achievments_item{
        grid-column: span 1;
        position: relative;
        display: grid;
        grid-template-rows: .8fr .6fr;
        justify-items: center;
        align-items: center;
        padding: 40px 50px 10px;
        box-sizing: border-box;
        img{
          height: 110px !important;
        }
        .item_description{
          grid-row: 2;
          font-family: Roboto;
          line-height: 1.3;
          font-size: 22px;
          font-weight: 500;
          text-align: center;
        }
        &:hover .noise:after{
          opacity: .22;
        }
        &:nth-child(1), &:nth-child(3), &:nth-child(6), &:nth-child(8){
          background-color: #f1b01a;
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7){
          background-color: #f4b92f;
        }
      }
    }
  }
  .price-list{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows:  .7fr 2.5fr;
    .price_list_heading{
      grid-row: 1;
      padding: 20px 50px;
      box-sizing: border-box;
      width: 45%;
      h1{
        margin-bottom: 5px;
        font-size: 56px;
        font-weight: 800;
        letter-spacing: 1.4px;
        color: #ffc234;
      }
      p{
        font-family: "Roboto";
        font-size: 25px;
        font-weight: 400;
        letter-spacing: .2px;
        color: #fff;
        margin-bottom: 40px;
      }
    }
    .price_list_prices{
      grid-row: 2;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      .prices_pack{
        position: relative;
        grid-column: span 1;
        padding: 20px 50px;
        box-sizing: border-box;
        border-right: 1px solid #616161;
        &:last-child{
          border: none;
        }
        &:hover p{
          padding-top: 10px;
          opacity: 1;
        }
        h1{
          font-size: 34px;
          color: white;
          letter-spacing: 1px;
          padding-bottom: 15px;
        }
        p{
          padding-top: 40px;
          font-size: 22px;
          line-height: 1.5;
          color: white;
          opacity: 0;
          transition: all .4s;
        }
        .price_pack_btn{
          position: absolute;
          bottom: 70px;
        padding: 20px 50px;
        }
      }
    }
  }
  .advantages{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1.4fr;
    .advantages_heading{
      grid-column: span 2;
      padding: 20px 0px 20px 50px;
      box-sizing: border-box;
      width: 45%;
      h1{
        margin-bottom: 5px;
        font-size: 56px;
        font-weight: 800;
        letter-spacing: 1.4px;
        color: #1d1d1d;
      }
      p{
        font-family: "Roboto";
        font-size: 25px;
        font-weight: 400;
        letter-spacing: .2px;
        color: #1d1d1d;
        margin-bottom: 40px;
      }
      input{
        display: none;
        &:checked+label{
          color: #f4b523;
          background: #1d1d1d;
        }
      }
      .advantages_btn{
        padding: 10px 30px;
        margin-right: 40px;
        color: #1d1d1d;
        border: 1px solid #1d1d1d;
        cursor: pointer;
        transition: .2s;
        &:hover{
          color: #f4b523;
          background: #1d1d1d;
        }
      }
    }
    .advantages_list{
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);

      .advantages_item{
        grid-column: span 1;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        position: relative;
        padding: 60px 40px 40px;
        img{
          grid-row: 1/ span 1;
          margin-top: 20px;
        }
        P {
          margin-top: 30px;
          grid-row: 2/ span 1;
          font-size: 22px;
          font-family: Roboto;
          line-height: 1.3;
          font-weight: 500;
          text-align: center;
        }

        &:hover>.noise:after{
          opacity: .22;
        }
        &:nth-child(6), &:nth-child(7){
          img{
            position: absolute;
            bottom: 0;
          }
        }
        &:nth-child(1), &:nth-child(3), &:nth-child(6), &:nth-child(8){
          background-color: #f1b01a;
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7){
          background-color: #f4b92f;
        }
      }
    }
  }
  .our_clients {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: .5fr 3.5fr;
    .our_clients_heading {
      grid-row: 1;
      padding: 20px 50px;
      width: 45%;
      h1 {
        margin-bottom: 5px;
        font-size: 56px;
        font-weight: 800;
        letter-spacing: 1.4px;
        color: #ffc234;
      }
      p {
        font-family: "Roboto";
        font-size: 25px;
        font-weight: 400;
        letter-spacing: .2px;
        color: #fff;
        margin-bottom: 40px;
      }
    }
    .our_clients_list{
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(4, 1fr);
      .clients-item{
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #676767;
        border-top: 1px solid #676767;
        &:nth-child(4n){
          border-right: none;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
          border-top: none;
        }
        &:nth-child(1), &:nth-child(3), &:nth-child(6), &:nth-child(8), &:nth-child(9), &:nth-child(11){
          background-color: #202020;
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7) ,&:nth-child(10), &:nth-child(12){
          background-color: #1d1d1d;
        }
        &:hover>.noise:after{
          opacity: .22;
        }
      }

    }
  }
  .site_map{
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    #map{
      position: absolute;
      height: 100vh;
      width: 100%;
        .btn{
          display: none;
          position: absolute;
          background-color: black;
          color: white;
          top: 105px;
          left: 70px;
          padding: 20px 45px;
          font-size: 24px;
          z-index: 2;
          cursor: pointer;
        }
    }
    .fullpage_back{
      display: grid;
      position: relative;
      grid-template-columns: repeat(6, 1fr);
      padding: 150px 0 50px 50px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background: rgba(29,29,29, .9);
      p{
        grid-column: span 2;
        position: relative;

        font-size: 46px;
        line-height: 1.4;
        letter-spacing: .7px;
        font-weight: 600;
        color:#FFF;
        span{
          margin-top: 20px;
          font-size: 36px;
          line-height: .7;
          display: block;
        }
        a{
          font-size: 36px;

          text-decoration: none;
          color: #fff;
        }
        .mail{
          line-height: .4;
        }
        .open_map{
          display: inline-block;
          padding: 20px 25px;
          font-family: "Roboto";
          font-weight: 400;
          font-size: 20px;
          letter-spacing: .2px;
          transition: .3s;
          &:hover{
            color: #1d1d1d;
            background-color: #fff;
          }
        }
      }
      img{
        height: 105px;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
      }
      .callback_form{
        grid-column: 4 / span 3;
        position: absolute;
        bottom: 50px;
        left: 180px;
        width: 100%;
        h2{
          font-size: 60px;
          color: white;
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: 2px !important;
        }
        p{
          width: 70%;
          font-family: 'Roboto', sans-serif;
          font-size: 24px;
          font-weight: 400;

        }

        form {
          display: block;
          div {
            display: block;
            input {
              outline: none;
              width: 100%;
              padding: 20px 0px 10px;
              margin-bottom: 0px;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid white;
              color: white;
              font-size: 22px;
            }
            .phone{
              margin-bottom: 80px;
            }
          }

          p{
            margin-top: 40px;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.6;
            a{
              font-size: 16px;
              border-bottom: 1px solid #f4b523;
              color: #f4b523;
            }
          }
        }
      }
    }

  }
  footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    height: 100vh;
    padding: 80px 0 40px;
    box-sizing: border-box;
    .footer_section{
      grid-column: span 1;
      padding: 50px 0;
      box-sizing: border-box;
      h2{
        display: inline-block;
        font-size: 48px;
        color: #f4b523;
        margin-bottom: 30px;

        &:hover{
          border-bottom: 4px solid #ffc234;
          margin-bottom: 26px;
        }
      }
      ul{
        list-style: none;
        li{
          margin-bottom: 15px;
          a{
            text-decoration: none;
            color: #fff;
            font-size: 28px;
            font-weight: 600;
          }

        }
      }
    }
    .footer_services, .footer_about{
      grid-row: span 2;
    }
    .footer_prices, .footer_about{
      padding-left: 40px;
    }
    .footer_portfolio{
      padding-left: 20px;
    }
    .footer_logo{
      grid-row: 3/span 1;
      grid-column: 1/ span 2;
      display: grid;
      justify-content: center;
      align-items: end;
      grid-template-rows: 1fr .5fr;
      position: relative;
      img{
        grid-row: 1;
        margin-bottom: 20px;
      }
      p{
        padding-right: 30px;
        grid-row: 2;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: .1px;
      }
    }
    .footer_contacts{
      grid-column: 3/span 1;
      grid-row: 2/ span 2;
      padding:0 40px 0 20px;
      margin: auto 0 0 0;
      h2{
        color: #f4b523;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p{
        color: #f4b523;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      span{
        color: #fff;
        font-weight: 700;
        font-size: 24px;
      }
      .contacts_link{
        margin-top: 25px;
        &:last-child{
          margin-top: 10px;
        }
        a{
          font-size: 22px;
          color: #c4c4c4;
          border-bottom: 1px solid #fff;
          text-decoration: none;
        }
      }

    }
    .footer_social{
      grid-column: 4/span 1;
      grid-row: 2/span 2;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      div{
        video{
          display: block;
          height: 260px !important;
          margin-bottom: 20px;
        }
      }

      ul{
        display: flex;
        align-items: center;
        height: 60px;
        list-style: none;

        li{
          display: inline-block;
          margin-right: 25px;
          line-height: 1.4;
          &:last-child{
            margin-right: 0;
          }
          a{
            padding: 20px 30px;
            border: 1.5px solid #fff;
            position:  relative;
            transition: .2s;
            i{
              font-size: 2.4em;
              position:  absolute;
              left: 50%;
              top: 50%;
              transform:translate(-50%,-50%) !important;
              transition: .2s;
            }
          }
          .vk:hover{
            border-color: cornflowerblue;
            & i{
              color:cornflowerblue;
            }
          }
          .insta:hover{
            border-color: #f35bd6;
            & i{
              color:#F35BD6;
            }
          }
          .youtube:hover{
            border-color: red;
            & i{
              color: red;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1600px){
    .page1_grid{
      .description{
        h1{
          font-size: 70px;
        }
        span{
          font-size: 36px;
        }
      }
      .fox-pic{
        video{
          height: 470px;
        }
      }
    }
    .footnote{
      font-size: 22px;
    }
    .video_container{}
    .services{}
    .portfolio{
      .portfolio_heading{
        h1{
          font-size: 46px;
          margin-bottom: 10px;
        }
        p{
          font-size: 22px;
          margin-bottom: 35px;
        }
        .portfolio_btn{
          padding: 12px 30px;
        }
      }
    }
    .achievments{
      .achievments_heading{
        h1{
          font-size: 46px;
          margin-bottom: 10px;
        }
        p{
          font-size: 22px;
          margin-bottom: 35px;
        }
      }
    }
    .price-list{
      .price_list_heading{
        padding: 20px 70px 20px 50px;
        h1{
          font-size: 46px;
        }
        p{
          font-size: 22px;
        }
      }
      .price_list_prices{
        .prices_pack{
          h1{
            font-size: 28px;
          }
          p{
            font-size: 18px;
          }
          .price_pack_btn{
            bottom: 50px;
            padding: 15px 40px;
          }
        }
      }
    }
    .advantages{
      .advantages_heading{
        width: 50%;
        padding: 20px 50px;
        h1{
          font-size: 46px;
        }
        p{
          font-size: 22px;
        }
      }
    }
    .our_clients{}
    .site_map{}
    footer{}
  }


  @media screen and (max-width: 1440px){
    .page1_grid{}
    .footnote{}
    .video_container{}
    .services{}
    .portfolio{}
    .achievments{}
    .price-list{}
    .advantages{}
    .our_clients{}
    .site_map{}
    footer{}
  }

  @media screen and (max-width: 1366px){
    .page1_grid{}
    .footnote{}
    .video_container{}
    .services{}
    .portfolio{}
    .achievments{}
    .price-list{}
    .advantages{}
    .our_clients{}
    .site_map{}
    footer{}
  }

  @media screen and (max-width: 1024px){
    .page1_grid{}
    .footnote{}
    .video_container{}
    .services{}
    .portfolio{}
    .achievments{}
    .price-list{}
    .advantages{}
    .our_clients{}
    .site_map{}
    footer{}
  }

  @media screen and (max-width: 768px){
    .page1_grid{}
    .footnote{}
    .video_container{}
    .services{}
    .portfolio{}
    .achievments{}
    .price-list{}
    .advantages{}
    .our_clients{}
    .site_map{}
    footer{}
  }

  @media screen and (max-width: 500px){
    .page1_grid{}
    .footnote{}
    .video_container{}
    .services{}
    .portfolio{}
    .achievments{}
    .price-list{}
    .advantages{}
    .our_clients{}
    .site_map{}
    footer{}
  }

  @media screen and (min-width: 1200px) and (max-width:1400px) {
		.page1_grid{
			.description {
				padding-bottom: 20px;
				h1 {
					padding-top: 20px;
					font-size: 70px;
					line-height: 65px;
				}
				span {
					font-size: 34px;
				}
			}
			.fox-pic{

			}
		}
		.footnote{
			bottom: 30px;
			font-size: 26px;
		}
	}
}

@keyframes noisy{
  0% {
    transform:  translate(0px,0px) scale(1.02);
  }
  7% {
    transform:  translate(3px,5px) scale(1.05);
  }
  14% {
    transform:  translate(-5px,-5px) scale(1.05);
  }
  22% {
    transform:  translate(2px,6px) scale(1.01);
  }
  27% {
    transform:  translate(-5px,0px) scale(1);
  }
  29% {
    transform:  translate(-5px,5px) scale(1.05);
  }
  39% {
    transform:  translate(-1px,3px) scale(1);
  }
  49% {
    transform:  translate(5px,1px) scale(1.05);
  }
  57% {
    transform:  translate(-5px,7px) scale(1);
  }
  65% {
    transform:  translate(-2px,5px) scale(1.02);
  }
  75% {
    transform:  translate(-5px,0px) scale(1.05);
  }
  81% {
    transform:  translate(-6px,5px) scale(1);
  }
  89% {
    transform:  translate(5px,-2px) scale(1.05);
  }
  96% {
    transform:  translate(0px,4px) scale(1.06);
  }
  100% {
    transform:  translate(0px,0px) scale(1);
  }
}