a.glitch-btn.map-btn(href="#")
    |
    span.text Посмотреть на карте
    span.mask.mask1
        span Посмотреть на карте
    span.mask.mask2
        span Посмотреть на карте
    span.mask.mask3
        span Посмотреть на карте