a.glitch-btn.form-btn(href="#" style="position: relative; display: inline-block; margin-top: 20px;")
    |
    span.text Отправить
    span.mask.mask1
        span Отправить
    span.mask.mask2
        span Отправить
    span.mask.mask3
        span Отправить