a.glitch-btn.prices-btn(href="#")
    |
    span.text Получить расчет
    span.mask.mask1
        span Получить расчет
    span.mask.mask2
        span Получить расчет
    span.mask.mask3
        span Получить расчет